<!DOCTYPE html>
<html>
        <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Recipebook</title>
        <!--Added favicon icon to git rid of favicon 404 error icone source flaticon-->
        <link rel="shortcut icon" href="{{ url_for('static', filename='images/recipe-book.png') }}">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css" />
        <link rel="stylesheet" href="{{url_for('static', filename='css/style.css')}}" type="text/css" />
        

        <!--Import materialize.css-->
        <link rel="stylesheet" href="css/materialize.min.css" type="text/css" media="screen,projection"/>



            
    </head>
    
    <body>
        <header>
        <!--Navbar-->
            <nav class="#455a64 blue-grey darken-2 navbar ">
                <div class="nav-wrapper">
                    <a href="{{url_for('index_recipe')}}" class="brand-logo logo">OnlineSmoothieRecipe</a>
                    <!--Add if statement to hide nav buttons on login and register page-->
                    {% if login_page is not defined %}
                    <a href="#" data-activates="mobile-demo" class="button-collapse buger-button"><i class="material-icons">menu</i></a>
                    <ul id="nav-mobile" class="right hide-on-med-and-down nav-links">
                        <li>
                            <a href="{{url_for('index_recipe')}}">Home<i class="material-icons left">home</i></a>
                        </li>
                        <li>
                            <a href="{{url_for('get_recipes')}}">All Recipes<i class="material-icons left">menu_open</i></a>
                        </li>
                        <!--Add if statement to show Add Recipe, My Recipes & Logout buttons only if user is  logged in-->
                        {% if 'username' in session %}
                        <li>
                            <a href="{{url_for('add_recipe')}}">Add Recipe<i class="material-icons left">playlist_add</i></a>
                        </li>
                        <li>
                            <a href="{{url_for('my_recipes')}}">My Recipes<i class="material-icons left">supervisor_account</i></a>
                        </li>
                        <li>
                            <a href="{{url_for('logout')}}">Logout<i class="material-icons left">close</i></a>
                        </li>
                        <!--If user is not logged in the show Log In instead of Add Recipe, My Recipes & Logout buttons-->
                        {% else %}
                        <li>
                            <a href="{{url_for('login')}}">Log In<i class="material-icons left">login</i></a>
                        </li>
                        {% endif %}
                    </ul>
                    <ul class="side-nav" id="mobile-demo">
                        <li>
                            <a href="{{url_for('index_recipe')}}">Home<i class="material-icons left">home</i></a>
                        </li>
                        <li>
                            <a href="{{url_for('get_recipes')}}">All Recipes<i class="material-icons left">sort</i></a>
                        </li>
                        <!--Add if statement to show Add Recipe, My Recipes & Logout buttons only if user is  logged in-->
                        {% if 'username' in session %}
                        <li>
                            <a href="{{url_for('add_recipe')}}">Add Recipe<i class="material-icons left">playlist_add</i></a>
                        </li>
                        <li>
                            <a href="{{url_for('my_recipes')}}">My Recipe<i class="material-icons left">supervisor_account</i></a>
                        </li>
                        <li>
                            <a href="{{url_for('logout')}}">Logout<i class="material-icons left">close</i></a>
                        </li>
                        <!--If user is not logged in the show Log In instead of Add Recipe, My Recipes & Logout buttons-->
                        {% else %}
                        <li>
                            <a href="{{url_for('login')}}">Log In<i class="material-icons left">login</i></a>
                        </li>
                        {% endif %}
                    </ul>
                    {% endif %}
                </div>
            </nav>
        </header>
        <main>
            <div class="container">
            <!--Following code is used to diplay flash messages-->
                <div class="row flash">
                    <div class="col s12">
                        {% with messages = get_flashed_messages(with_categories=true) %} {% if messages %} {% for category, message in messages %}
                        <div class="flash-msg balsamiq teal lighten-5 center-align container alert {{ category }}">
                            <h5>{{ message|capitalize }}</h5>
                        </div>
                        {% endfor %} {% endif %} {% endwith %}
                    </div>
                </div>
                <!--All the html templates are injected with this block content-->
                {% block content %} {% endblock %}
            </div>
        </main>
        <!--Footer-->
        <footer class="#455a64 blue-grey darken-2">
            <div class="container">
                <div class="row center-align">
                    <div class="col s12 m6">
                        <p class="white-text footer-text krona">
                            Created ........................
                        </p>
                    </div>
                    <div class="col s12 m6">
                        <ul class="social-links">
                            <li>
                                <a class="grey-text text-lighten-3" href="#" target="_blank">
                                    <i class="fa fa-linkedin-square" aria-hidden="true"></i><span class="sr-only">Linkedin</span>
                                </a>
                            </li>
                            <li>
                                <a class="grey-text text-lighten-3" href="#" target="_blank"><i class="fa fa-github-square" aria-hidden="true"></i><span class="sr-only">Github</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </footer>       
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <script src="{{url_for('static', filename='js/script.js')}}"></script>
        <script type="text/javascript" src="js/materialize.min.js"></script>
    </body>
</html>