<!DOCTYPE html>
{% extends 'base.html' %} {% block content %}
<h3 class="balsamiq">Edit Recipe</h3>
<!--Edit Recipe form-->
<div class="row balsamiq">
    <form action="{{url_for('update_recipe', recipe_id=recipe._id)}}" method="POST" class="col s12">
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">local_drink</i>
                <input id="recipe_name" name="recipe_name" type="text" class="validate" value="{{recipe.recipe_name}}" minlength="1" data-length="60" maxlength="60" required />
                <label for="recipe_name">Recipe Name</label>
            </div>
        </div>

        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">subject</i>
                <textarea name="recipe_description" id="recipe_description" type="text" class="materialize-textarea" minlength="10" data-length="500" maxlength="500" required>{{recipe.recipe_description}}</textarea>
                <label for="recipe_description">Recipe Description</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">settings</i>
                <textarea name="recipe_ingredients" id="recipe_ingredients" type="text" class="materialize-textarea" minlength="1" data-length="1000" maxlength="1000" required>{{recipe.recipe_ingredients}}</textarea>
                <label for="recipe_ingredients">Recipe Ingredients</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <i class="material-icons prefix">format_list_numbered</i>
                <textarea name="recipe_preparation" id="recipe_preparation" type="text" class="materialize-textarea" minlength="10" data-length="1500" maxlength="1500" required>{{recipe.recipe_preparation}}</textarea>
                <label for="recipe_preparation">Recipe Preparation</label>
            </div>
        </div>
      <div class="row">
            <div class="input-field col s12 m6 l3">
                <i class="material-icons prefix">local_dining</i>
                <select class="recipe_cuisine" id="recipe_cuisine" name="recipe_cuisine" required>
                    <option value="recipe_cuisine" disabled selected>Choose your option </option>
                    <option value="American">American</option>
                    
                    <option value="European">European</option>
                    
                    <option value="Asian">Asian</option>
                </select>
                <label>Select Cuisine</label>
            </div>


            <div class="input-field col s12 m6 l3">
                <i class="material-icons prefix">av_timer</i>
                <select id="making_time" name="making_time" required>
                    <option value="" disabled selected>Choose your option</option>
                     <option value="0 - 5 minutes">0 - 5 minutes</option>
                    
                    <option value="5 - 10 minutes">5 - 10 minutes</option>
                    
                    <option value="10m - 20 minutes">10m - 20 minutes</option>
                    
                </select>
                <label>Making Time</label>
            </div>

            <div class="input-field col s12 m6 l3">
                <i class="material-icons prefix">format_list_bulleted</i>
                <select id="recipe_type" name="recipe_type" required>
                    <option value="" disabled selected>Choose your option</option>
                    <option value="Smoothie">Smoothie</option>
                    
                    <option value="Thick Juice">Thick Juice</option>
                    
                    <option value="Soft Juice">Soft Juice</option>
                    
                </select>
                <label>Type</label>
            </div>

            <div class="input-field col s12 m6 l3">
                <i class="material-icons prefix">person</i>
                <select id="recipe_serving" name="recipe_serving" required>
                    <option value="" disabled selected>Choose your option</option>
                   <option value="1 - 2 persons">1 - 2 persons</option>
                    
                    <option value="2 - 4 persons">3 - 4 persons</option>
                    
                    <option value="4 - 6 persons">4 - 5 persons</option>
                    
                </select>
                <label>Serving</label>
            </div>
        </div>
        <div class="row">
            <button class="#455a64 blue-grey waves-effect waves-light btn btn-text" type="submit" name="action">
                Update
            </button>
            <a href="{{url_for('view_recipe', recipe_id=recipe._id)}}" class="waves-effect waves-light btn #455a64 blue-grey btn-text">Cancel</a>
        </div>
    </form>
</div>
<!--Added underneath code here to avoid "Cannot read property addEventListener error" shown in console-->
<script> 
        //Added following code as there is bug in Materialize for datepicker source - Task Manager application tutorial
        document.getElementById("matfix").addEventListener("click", function (e) {
        e.stopPropagation();
        });
</script>
{% endblock %}