<!DOCTYPE html>
<body>
{% extends 'base.html' %} {% block content %}
<div class="row">
<!--index page-->
    <div class="col s12">
    <!--If statement to display a welcome user name on index page when login else a slogan-->
        {% if 'username' in session %}
        <h4 class="heading sub_heading balsamiq">Welcome {{ session['username'].capitalize() }}</h4>
        {% else %}
        <p class="slogan">some texts needs to be here some texts needs to be here .</p>
        {% endif %}
    </div>
</div>
<!--Carousel(image slider on the index page-->
<div class="row slider-text">
    <div class="col s12 m8">
        <div class="carousel">
            <a class="carousel-item" href="#"><img src="static/images/1.gd-juice.jpg" alt="Ultimate Green Detox Juice"></a>
            <a class="carousel-item" href="#two!"><img src="static/images/2.ca-juice.jpg" alt="Tropical Carrot Apple Juice"></a>
            <a class="carousel-item" href="#three!"><img src="static/images/3.rzb-juice.jpg" alt="Red Zinger Breakfast Juice"></a>
            <a class="carousel-item" href="#four!"><img src="static/images/4.gsl-juice.jpg" alt="Green Spinach Lemonade"></a>
            <a class="carousel-item" href="#five!"><img src="static/images/5.ml-smoothie.jpg" alt="Mango Lassi"></a>
            <a class="carousel-item" href="#five!"><img src="static/images/6.sbs-smoothie.jpg" alt="STRAWBERRY BANANA SMOOTHIE"></a>
        </div>
    </div>
    <div class="col s12 m4">
        <h4 class="text">Share your kosi shir with others.</h4>
        <p class="text">Nothing apart people but Saman.</p>
        <!--if statement to show add recipe button if user is logged in else display all recipe button-->
        {% if 'username' in session %}
        <a href="{{url_for('add_recipe')}}" class="waves-effect waves-light btn balsamiq #455a64 blue-grey darken-2">Add Recipe<i class="material-icons right">playlist_add</i></a>
        {% else %}
        <a href="{{url_for('get_recipes')}}" class="waves-effect waves-light btn balsamiq #455a64 blue-grey darken-2">All Recipes<i class="material-icons right">sort</i></a>
        {% endif %}
        <form action="{{url_for('search_recipe')}}" method="POST">
            <div class="input-field">
                <input class="balsamiq" id="search_recipes" name="search_recipes" placeholder="Search" type="search" required />
                <i class="material-icons">close</i>
            </div>
            <button class="btn waves-effect waves-light balsamiq #455a64 blue-grey darken-2" type="submit" name="action">Search Recipes<i class="material-icons right">search</i></button>
        </form>
    </div>
</div>
{% endblock %}

</body>